* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 2px solid #555;
  border-radius: 5px;
  color: white;
  outline: none;
}

/* FLOAT LABEL */
.input-group label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: #3b82f6;
  background: #1e293b;
  padding: 0 5px;
}

/* ERROR */
.input-group.error input {
  border-color: #ef4444;
  animation: shake 0.3s;
}

.input-group.error small {
  color: #ef4444;
  visibility: visible;
}

/* SUCCESS */
.input-group.success input {
  border-color: #22c55e;
}

/* ERROR TEXT */
.input-group small {
  visibility: hidden;
  font-size: 12px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* SHAKE ANIMATION */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
